*.PVS-Studio.cfg
*.suo
*.sdf
*.ilk
*.pdb
*.exe
*.apk
*.so
*.opensdf
Log.html
.DS-Store
ipch/
Build/
Debug/
Debug2012/
Debug2013/
DebugAngle/
DebugGL/
Debug-*/
Release/
Release2012/
Release2013/
ReleaseAngle/
ReleaseGL/
Release-*/
Hekkus/
libmad/
libzip/
tremor/
DataOGG/
DataMP3/
DataWAV/
source/
msadpcm/
oafile/
html5/
.idea/
*.hmap
*.dep
*.xcent
*.d
*.dia
*.LinkFileList

SuperPlayLib/iOS/SuperPlay.xcodeproj/xcuserdata/cdoty.xcuserdatad/xcschemes/xcschememanagement.plist

SoundLib/irrKlang/iOS/Sound.xcodeproj/xcuserdata/cdoty.xcuserdatad/xcschemes/xcschememanagement.plist

SoundLib/BASS/iOS/BASS.xcodeproj/xcuserdata/cdoty.xcuserdatad/xcschemes/xcschememanagement.plist

PlatformLib/iOS/Platform/Platform.xcodeproj/xcuserdata/cdoty.xcuserdatad/xcschemes/xcschememanagement.plist

iOS.xcworkspace/xcuserdata/cdoty.xcuserdatad/WorkspaceSettings.xcsettings

iOS.xcworkspace/xcuserdata/cdoty.xcuserdatad/UserInterfaceState.xcuserstate

iOS.xcworkspace/xcshareddata/iOS.xccheckout

ExpansionLib/iOS/Expansion.xcodeproj/xcuserdata/cdoty.xcuserdatad/xcschemes/xcschememanagement.plist

Examples/Text/iOS/Text.xcodeproj/xcuserdata/cdoty.xcuserdatad/xcschemes/xcschememanagement.plist

Examples/BLT/iOS/BLT.xcodeproj/xcuserdata/cdoty.xcuserdatad/xcschemes/xcschememanagement.plist

DisplayLib/OpenGL/iOS/Display.xcodeproj/xcuserdata/cdoty.xcuserdatad/xcschemes/xcschememanagement.plist
