<config platform="android" template="android (default)">Created: Sun May 11 17:10:38 2014
By: Aimtech Test
Using Template: android (default)

&lt;description to go here><option fromDef="true" value="" name="android-icon-dir"/>
    <option fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group"/>
    <option fromDef="true" value="" name="android-icon-gallery"/>
    <option fromDef="true" value="" name="android-icon-nonstandard"/>
    <option fromDef="true" value="" name="android-external-res"/>
    <option fromDef="true" value="1" name="android-install-location"/>
    <option fromDef="true" value="com.Aimtech Test.BLT" name="android-pkgname"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="BLT" name="name"/>
    <option fromDef="true" value="BLT" name="caption"/>
    <option fromDef="true" value="Aimtech Test" name="provider"/>
    <option fromDef="true" value="(C) Aimtech Test" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="android-manifest"/>
    <option fromDef="true" value="" name="android-custom-activity"/>
    <option fromDef="true" value="" name="android-extra-manifest"/>
    <option fromDef="true" value="" name="android-extra-application-manifest"/>
    <option fromDef="true" value="" name="android-extra-strings"/>
    <option fromDef="true" value="" name="android-supports-gl-texture"/>
    <option fromDef="true" value="" name="android-unsigned"/>
</config>
