<config platform="iphone" template="iphone (default)">Created: Sun May 11 17:10:38 2014
By: Aimtech Test
Using Template: iphone (default)

&lt;description to go here><option fromDef="false" value="&quot;iphone&quot;" name="iphone-application-type"/>
    <option fromDef="true" value="com.Aimtech Test.BLT" name="iphone-appid"/>
    <option fromDef="true" value="" name="iphone-icon-dir"/>
    <option fromDef="true" value="-76;&lt;none>;-120;&lt;none>;-76@2x;&lt;none>" name="iphone-icon-7-group"/>
    <option fromDef="true" value="-Small;&lt;none>;-Small-40;&lt;none>;-Small@2x;&lt;none>;-Small-40@2x;&lt;none>" name="iphone-icon-7-search-group"/>
    <option fromDef="true" value="" name="iphone-prerendered-icon"/>
    <option fromDef="true" value="" name="iphone-splash-dir"/>
    <option fromDef="true" value="~iphone;&lt;none>;@2x~iphone;&lt;none>;-568h@2x~iphone;&lt;none>" name="iphone-splash-group-iphone"/>
    <option fromDef="true" value="-Portrait~ipad;&lt;none>;-PortraitUpsideDown~ipad;&lt;none>;-Landscape~ipad;&lt;none>;-LandscapeRight~ipad;&lt;none>;-Portrait@2x~ipad;&lt;none>;-PortraitUpsideDown@2x~ipad;&lt;none>;-Landscape@2x~ipad;&lt;none>;-LandscapeRight@2x~ipad;&lt;none>" name="iphone-splash-group-ipad"/>
    <option fromDef="true" value="" name="iphone-show-status-bar"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="BLT" name="name"/>
    <option fromDef="true" value="BLT" name="caption"/>
    <option fromDef="true" value="Aimtech Test" name="provider"/>
    <option fromDef="true" value="(C) Aimtech Test" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="itunes-artwork"/>
    <option fromDef="true" value=";&lt;none>;-72;&lt;none>;@2x;&lt;none>;-72@2x;&lt;none>" name="iphone-icon-group"/>
    <option fromDef="true" value="-Small;&lt;none>;-Small-50;&lt;none>;-Small@2x;&lt;none>;-Small-50@2x;&lt;none>" name="iphone-icon-search-group"/>
    <option fromDef="true" value="" name="iphone-nosign"/>
    <option fromDef="true" value="" name="iphone-sign-for-distribution"/>
    <option fromDef="true" value="" name="iphone-provisioning-profile"/>
    <option fromDef="true" value="" name="iphone-signing-identity"/>
    <option fromDef="true" value="English" name="iphone-region"/>
    <option fromDef="true" value="" name="iphone-info-plist"/>
    <option fromDef="true" value="" name="iphone-persistent-wifi"/>
    <option fromDef="true" value="" name="iphone-backgroundmode-audio"/>
    <option fromDef="true" value="" name="iphone-app-fonts"/>
    <option fromDef="true" value="" name="iphone-bundle-localisations"/>
    <option fromDef="true" value="" name="iphone-bundle-url-name"/>
    <option fromDef="true" value="" name="iphone-bundle-url-schemes"/>
</config>
