<config platform="project" template="project (default)">Created: Sun May 11 17:06:25 2014
By: Aimtech Test
Using Template: project (default)

&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="BLT" name="name"/>
    <option fromDef="true" value="BLT" name="caption"/>
    <option fromDef="true" value="Aimtech Test" name="provider"/>
    <option fromDef="true" value="(C) Aimtech Test" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
