<config platform="roku" template="roku (default)">Created: Sun May 11 17:06:31 2014
By: Aimtech Test
Using Template: roku (default)

&lt;description to go here><option fromDef="true" value="" name="roku-icon-focus-hd"/>
    <option fromDef="true" value="" name="roku-icon-side-hd"/>
    <option fromDef="true" value="" name="roku-icon-focus-sd"/>
    <option fromDef="true" value="" name="roku-icon-side-sd"/>
    <option fromDef="false" value="192.168.1.194" name="roku-hostname"/>
    <option fromDef="false" value="rokudev" name="roku-username"/>
    <option fromDef="false" value="1Xzqd95Tx8PC" name="roku-password"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="BLT" name="name"/>
    <option fromDef="true" value="BLT" name="caption"/>
    <option fromDef="false" value="Charles Doty" name="provider"/>
    <option fromDef="false" value="(C) Charles Doty" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="16384" name="roku-persist-quota"/>
    <option fromDef="true" value="" name="roku-screensaver-title"/>
    <option fromDef="true" value="" name="roku-screensaver-private"/>
    <option fromDef="true" value="" name="roku-hidden"/>
    <option fromDef="true" value="" name="roku-requires-audiometadata"/>
    <option fromDef="true" value="" name="roku-requires-mkv"/>
    <option fromDef="true" value="" name="roku-requires-bluetooth"/>
    <option fromDef="true" value="" name="roku-splash-screen-hd"/>
    <option fromDef="true" value="" name="roku-splash-screen-sd"/>
    <option fromDef="true" value="#121212" name="roku-splash-color"/>
    <option fromDef="true" value="1600" name="roku-splash-min-time"/>
</config>
