<config platform="wp8" template="wp8 (default)">Created: Sun May 11 17:10:38 2014
By: Aimtech Test
Using Template: wp8 (default)

&lt;description to go here><option fromDef="true" value="" name="wp8-author"/>
    <option fromDef="true" value="" name="wp8-publisher-id"/>
    <option fromDef="true" value="" name="wp8-description"/>
    <option fromDef="true" value="" name="wp8-product-id"/>
    <option fromDef="true" value="" name="wp8-exclude-wvga"/>
    <option fromDef="true" value="" name="wp8-exclude-wxga"/>
    <option fromDef="true" value="" name="wp8-exclude-720p"/>
    <option fromDef="true" value="" name="wp8-higher-mem"/>
    <option fromDef="true" value="" name="wp8-exclude-low-mem"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="BLT" name="name"/>
    <option fromDef="true" value="BLT" name="caption"/>
    <option fromDef="true" value="Aimtech Test" name="provider"/>
    <option fromDef="true" value="(C) Aimtech Test" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-title"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-back-title"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-back-content"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-small-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-medium-front-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-medium-back-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-supports-large"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-large-front-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-large-back-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-large-back-content"/>
    <option fromDef="true" value="" name="wp8-custom-manifest"/>
    <option fromDef="true" value="" name="wp8-custom-manifest-fill"/>
    <option fromDef="true" value="" name="wp8-genre-isgame"/>
    <option fromDef="true" value="" name="wp8-ext-capabilities"/>
</config>
