<config platform="ws80" template="ws80 (default)">Created: Sun May 11 17:10:38 2014
By: Aimtech Test
Using Template: ws80 (default)

&lt;description to go here><option fromDef="true" value="" name="ws8-publisher-display-name"/>
    <option fromDef="true" value="" name="ws8-publisher-id"/>
    <option fromDef="true" value="" name="ws8-identity-name"/>
    <option fromDef="true" value="" name="ws8-description"/>
    <option fromDef="true" value="" name="ws8-product-version"/>
    <option fromDef="true" value="" name="ws8-product-name"/>
    <option fromDef="true" value="" name="ws8-custom-manifest"/>
    <option fromDef="true" value="" name="ws8-custom-manifest-fill"/>
    <option fromDef="true" value="" name="ws8-logo-image150x150"/>
    <option fromDef="true" value="" name="ws8-logo-image50x50"/>
    <option fromDef="true" value="" name="ws8-logo-image30x30"/>
    <option fromDef="true" value="" name="ws8-splash-screen-image620x300"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="BLT" name="name"/>
    <option fromDef="true" value="BLT" name="caption"/>
    <option fromDef="true" value="Aimtech Test" name="provider"/>
    <option fromDef="true" value="(C) Aimtech Test" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="ws8-distribution-cer"/>
    <option fromDef="true" value="" name="ws8-certificate-end-date"/>
    <option fromDef="true" value="" name="ws8-distribution-pfx"/>
    <option fromDef="true" value="" name="ws8-distribution-pfx-password"/>
    <option fromDef="true" value="" name="ws8-ext-capabilities"/>
    <option fromDef="true" value="" name="ws8-ext-device-capabilities"/>
</config>
